h1><%= @restaurant.name %></h1>
<ul>
  <li>Name: <%= @restaurant.name %></li>
  <li>Address: <%= @restaurant.address %></li>
  <li>Phone Number: <%= @restaurant.phone_number %></li>
  <li>Category: <%= @restaurant.category %></li>
</ul>
<%= link_to "Back to all restaurants", restaurants_path %>
